.op-container {
  background-color: #202020;
  width: 100%;
  border-radius: 5px;
  height: 3rem;
  user-select: none;
  display: flex;
  align-items: center;
}

.op-container #divide {
  background-color: white;
  height: 2rem;
  width: 1px;
  position: relative;
}

.op-container button {
  font-size: 70%;
  height: 3rem;
  background-color: #202020;
  border: none;
  text-shadow: 0 0 0 transparent;
  color: #808080;
  border-radius: 5px;
}

.op-container button:hover {
  cursor: pointer;
}

.op-container .selected {
  transition: all 0.3s ease;
  text-shadow: 0 0 2px white;
  color: white;
}

.op-container .unselected {
  transition: all 0.3s ease;
  text-shadow: 0 0 0 transparent;
  color: #808080;
}

.note-options-container {
  display: flex;
  justify-content: space-evenly;
}

.seconds-options-container {
  display: flex;
  justify-content: space-evenly;
}

.extra-options-container {
  display: flex;
  justify-content: space-evenly;
}

.bpm-container {
  font-size: smaller;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 90%;
}

.bpm-container input {
  width: 60%;
}

@media screen and (max-width: 600px) {
  .op-container {
    width: 80%;
  }

  .op-container button {
    width: 80%;
    height: 2rem;
  }
}

