.op-container {
  background-color: #202020;
  width: 36rem;
  border-radius: 5px;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  user-select: none;
  align-items: center;
}

.op-container #divide {
  background-color: white;
  height: 2rem;
  width: 1px;
  position: relative;
}

.op-container button {
  font-size: 70%;
  height: 3rem;
  background-color: #202020;
  border: none;
  text-shadow: 0 0 0 transparent;
  color: #808080;
}

.op-container button:hover {
  cursor: pointer;
}

.op-container .selected {
  transition: all 0.3s ease;
  text-shadow: 0 0 10px white;
  color: white;
}

.op-container .unselected {
  transition: all 0.3s ease;
  text-shadow: 0 0 0 transparent;
  color: #808080;
}

@media screen and (max-width: 600px) {
  .op-container {
    width: 80%;
  }

  .op-container button {
    width: 2rem;
    height: 2rem;
  }
}
