.piano-container {
  position: absolute;
  width: 400px;
  height: 16rem;
  user-select: none;
  padding-top: 20px;
}

.white-keys-container {
  display: flex;
  position: relative;
  user-select: none;
  height: 100%;
}

.black-keys-container {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 50%;
  display: flex;
  user-select: none;
  padding: 0 5%;
}

.white-key {
  background-color: #ffffff;
  border: 2px solid #121212;
  border-radius: 5px;
  flex: 1;
  z-index: 1;
  transition: all 0.3s ease;
  user-select: none;
}

.white-key:nth-child(3) {
  border-top-right-radius: 0;
}
.white-key:nth-child(4) {
  border-top-left-radius: 0;
}

.white-key:hover {
  background-color: #eeeeee;
  border-color: #ffffff;
}

.white-key:focus {
  outline: none;
  box-shadow: none;
  border-color: #121212;
}

.black-key {
  background-color: #121212;
  border: 2px solid #ffffff;
  border-radius: 5px;
  z-index: 2;
  width: 10%;
  height: 100%;
  margin-left: 4%;
  transition: all 0.3s ease;
  user-select: none;
}

.black-key:hover {
  border-color: #121212;
}

.black-key:focus {
  outline: none;
  box-shadow: none;
  border-color: #ffffff;
}

.black-key:nth-child(2) {
  margin-right: 15%;
}

.reset-button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.reset-button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0s ease;
  user-select: none;
  transform: rotate(0deg);
}
