.piano {
  position: relative;
  width: 490px;
  height: 200px;
  user-select: none;
}

/* Rectangle 2 */
.r2 {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 85.71%;
  top: 0%;
  bottom: 0%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 6 */
.r3 {
  box-sizing: border-box;

  position: absolute;
  left: 57.14%;
  right: 28.57%;
  top: 0%;
  bottom: 0%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 5 */
.r4 {
  box-sizing: border-box;

  position: absolute;
  left: 42.86%;
  right: 42.86%;
  top: 0%;
  bottom: 0%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 0px 5px 5px 5px;
}

/* Rectangle 7 */
.r5 {
  box-sizing: border-box;

  position: absolute;
  left: 85.71%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 8 */
.r6 {
  box-sizing: border-box;

  position: absolute;
  left: 71.43%;
  right: 14.29%;
  top: 0%;
  bottom: 0%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 4 */
.r7 {
  box-sizing: border-box;

  position: absolute;
  left: 28.57%;
  right: 57.14%;
  top: 0%;
  bottom: 0%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px 0px 5px 5px;
}

/* Rectangle 3 */
.r8 {
  box-sizing: border-box;

  position: absolute;
  left: 14.29%;
  right: 71.43%;
  top: 0%;
  bottom: 0%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 9 */
.r9 {
  box-sizing: border-box;

  position: absolute;
  left: 10.2%;
  right: 81.63%;
  top: 0%;
  bottom: 40%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 10 */
.r10 {
  box-sizing: border-box;

  position: absolute;
  left: 24.49%;
  right: 67.35%;
  top: 0%;
  bottom: 40%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 13 */
.r11 {
  box-sizing: border-box;

  position: absolute;
  left: 81.63%;
  right: 10.2%;
  top: 0%;
  bottom: 40%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 12 */
.r12 {
  box-sizing: border-box;

  position: absolute;
  left: 67.35%;
  right: 24.49%;
  top: 0%;
  bottom: 40%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Rectangle 11 */
.r13 {
  box-sizing: border-box;

  position: absolute;
  left: 53.06%;
  right: 38.78%;
  top: 0%;
  bottom: 40%;

  background: #121212;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
