.container {
  width: 100%;
  height: 100%;
}

.sm-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.piano-container {
  position: absolute;
  top: 72.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
}

.metronome-container {
  position: absolute;
  top: 18.5rem;
  left: 7rem;
}
