.container {
  width: 100dvw;
  height: 100dvh;
}

.sm-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.piano-container {
  position: absolute;
  top: 72.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
}
