.container {
  width: 100%;
  height: 100%;
}

.sm-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.piano-container {
  position: absolute;
  top: 72.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  user-select: none;
}

.metronome-container {
  position: absolute;
  left: -10%;
  top: -10%;
}

.note-correct-text {
  position: absolute;
  top: 100px;
  transition: all 1s ease;
}

.abcjs-v0 {
  fill: gray;
}

.abcjs-staff-extra {
  fill: white;
}

.abcjs-bar {
  fill: white;
}

.seconds-timer-mainpage {
  font-size: x-large;
  position: absolute;
  left: 50%;
  top: -7.5%;
  transform: translate(-50%, -50%);
}
